#banner {
  width: 100%;
  height: 7.734375rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8.203125rem;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #banner {
    margin-top: 4.21875rem;
    height: 4.921875rem;
  }
}
#banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009AA7;
  opacity: 0.58;
}
#banner .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .container svg {
  position: absolute;
  top: -145px;
  left: -42px;
  width: 13%;
}
#banner .container h1 {
  color: #fff;
  font-size: 2.34375rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #banner .container h1 {
    font-size: 1.125rem;
    line-height: 1.2em;
  }
}
